<div class="input-group p-2">
  <label for="gameId" class="form-control">Game id: </label>
  <input type="text" class="form-control" id="gameId" [(ngModel)]="gameId" #gameId_>
  <div class="input-group-prepend">
    <button class="btn btn-outline-secondary rounded-right" type="button" (click)="pasteFromClipboard(gameId_)">
      Paste
    </button>
  </div>
</div>

<div class="input-group p-2">
  <label for="gamePassword" class="form-control">Password: </label>
  <input type="text" class="form-control" id="gamePassword" [(ngModel)]="gamePassword" #gamePassword_>
  <div class="input-group-prepend">
    <button class="btn btn-outline-secondary rounded-right" type="button" (click)="pasteFromClipboard(gamePassword_)">
      Paste
    </button>
  </div>
</div>

<div class="input-group p-2">
  <label for="playerName" class="form-control">Your name: </label>
  <input type="text" class="form-control" id="playerName"  [(ngModel)]="playerName" #playerName_>
  <div class="input-group-prepend">
    <button class="btn btn-outline-secondary rounded-right" type="button" (click)="pasteFromClipboard(playerName_)">
      Paste
    </button>
  </div>
</div>

<div class="p-2">
  <button type="button" class="form-control btn bg-primary" (click)="joinGame(playerName, gameId, gamePassword)"> Join game</button>
</div>
