  <div class="row  p-2">
    <div class="col">
    <nav>
      <ul class="nav nav-pills bg-warning rounded">
        <li class="nav-item"><a routerLink="/start" routerLinkActive="active" class="nav-link">Start</a></li>
        <li class="nav-item"><a routerLink="/lobby" routerLinkActive="active" class="nav-link">Lobby</a></li>
        <li class="nav-item"><a routerLink="/load" routerLinkActive="active" class="nav-link">Load</a></li>
        <li class="nav-item"><a routerLink="/join" routerLinkActive="active" class="nav-link">Join</a></li>
        <li class="nav-item"><a routerLink="/intrigue" routerLinkActive="active" class="nav-link">Intrigue</a></li>
        <li class="nav-item"><a routerLink="/market" routerLinkActive="active" class="nav-link">Market</a></li>
        <li class="nav-item"><a routerLink="/arena" routerLinkActive="active" class="nav-link">Arena</a></li>
        <li class="nav-item"><a routerLink="/jupiters-cock" routerLinkActive="active" class="nav-link">Jupiters Cock</a></li>
        <li class="nav-item"><a routerLink="/connection-error" routerLinkActive="active" class="nav-link">Error</a></li>
      </ul>
    </nav>
    </div>
  </div>

  <div class="row  p-2">
    <div class="col">
    <router-outlet></router-outlet>
    </div>
  </div>


