<div class="input-group p-2">
  <label for="gameId" class="form-control">Game id: </label>
  <input type="text" class="form-control" id="gameId" value="{{game?game.id:''}}" readonly #gameId>
  <div class="input-group-prepend">
    <button class="btn btn-outline-secondary rounded-right" type="button" (click)="copyToClipboard(gameId)">
      Copy
    </button>
  </div>
</div>

<div class="input-group p-2">
  <label for="gameId" class="form-control">Game password: </label>
  <input type="text" class="form-control" id="gamePassword" value="{{game?game.password:''}}" readonly #gamePassword>
  <div class="input-group-prepend">
    <button class="btn btn-outline-secondary rounded-right" type="button" (click)="copyToClipboard(gamePassword)">
      Copy
    </button>
  </div>
</div>

<div class="input-group p-2">
  <label for="playersName" class="form-control">Your name: </label>
  <input type="text" class="form-control" id="playersName" placeholder="Put your name here" readonly value="{{playersName}}">
  <div class="input-group-prepend">
    <button class="btn btn-outline-secondary rounded-right" type="button" (click)="copyToClipboard(playersName)">
      Copy
    </button>
  </div>
</div>
<div class="p-2" *ngFor="let dominusBoard of dominusBoards">
  <app-dominus-selector [dominusBoard]="dominusBoard" [playersName]="getPlayersName(dominusBoard)" [currentPlayersName]="playersName"></app-dominus-selector>
</div>
<div class="p-2">
  <button type="button" class="form-control btn bg-primary" [disabled]="game?game.dominusList.length>=2:false" (click)="startGame()">Start game</button>
</div>
